/* Шрифты */

body {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: normal;
}

h1.catalog-title {
  font-size: 35px;
  line-height: 41px;
  /*color: #ffffff внести информацию позже, на белом фоне нечитаемо*/
  font-weight: bold;
}

/* Внес стили второго шрифта для заголовка второго увроня, но в документе он не используется */
h2 {
  font-size: 35px; 
  line-height: 41px;
  font-weight: bold;
  /*color: #ffffff внести информацию позже, на белом фоне нечитаемо*/
}

/* Сетки */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: teal;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
  
  background-color: green;
}

.container {
  
}

.main-nav {
  float: left;
  width: 750px;
  min-height: 75px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-buttons{
  float: right;
  width: 350px; 
  min-height: 75px;
  box-sizing: border-box;
  
  background-color: yellow;
}


.site-main {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  
  background-color: green;
}

.promo {
  min-height: 573px;
  
  background-color: lightgreen;
}

.work-time {
  min-height: 45px;
  float: right;
  
  background-color: blue;
}

.special-offers {
  min-height: 230px;
  margin: 0 27px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.special-offer {
  width: 560px;
  margin-right: 26px;
  float: left;
  background-color: blue;
  box-sizing: border-box;
}

.special-offer:last-child {
  margin-right: 0px;
}

.promo-text {
  width: 685px;
  min-height: 215px;
  position: relative;
  top: 275px;
  left: 240px;
  box-sizing: border-box;
  
  background-color: blue;
}

.popular-products {
  padding: 0 27px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 0px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.production {
  margin: 0 27px;
  font-size: 0px;
  box-sizing: border-box;
}

.icecream-card {
  margin-right: 26px;
  width: 267px;
  min-height: 325px;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  box-sizing: border-box;
  
  background-color: blue;
}

.icecream-card:nth-child(4n) {
  margin-right: 0px;
}

/* Получилось относительно ровно, но не могу понять, почему 1106, где-то что-то не так */

.features {
  min-height: 305px;
  width: 1146px;
  margin: 0 27px;
  padding: 27px 20px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.features-icon:nth-child(2n) {
  width: 485px;
  min-height: 60px;
  float: right;
  box-sizing: border-box;
  
  background-color: blue;
}

.features-icon:nth-child(2n-1) {
  width: 485px;
  min-height: 60px;
  float: left;
  margin-left: 55px;
  box-sizing: border-box;
  
  background-color: blue;
}

.special-offers {
  min-height: 230px;
  margin: 0 27px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.info {
  min-height: 230px;
  margin: 0 27px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.info-data {
  width: 560px;
  margin-right: 26px;
  float: left;
  box-sizing: border-box;
  
  background-color: blue;
}

.info-data:last-child {
  margin-right: 0px;
}

.map {
  min-height: 430px;
}

.contacts {
  width: 300px;
  min-height: 305px;
  float: right;
  margin-top: 62px;
  margin-right: 27px;
  box-sizing: border-box;
  
  background-color: blue;
}

.feedback-form {
  margin: 340px auto 0;
  display: none;
  box-sizing: border-box;
}

.main-footer {
  min-height: 103px;
  margin: 0 auto;
  width: 1200px;
  padding: 0 27px;
  box-sizing: border-box;
  
  background-color: lightgreen;
}

.social-network {
  width: 267px;
  margin: 30px 215px 30px 0;
  float: left;
  box-sizing: border-box;
  
  
  background-color: blue;
  /* для иконок margin: 30px 12px 30px 0;*/
}

.helpful-info {
  width: 400px;
  margin: 30px 0;
  float: left;
  box-sizing: border-box;
  
  background-color: yellow;
}

.made-in {
  width: 190px;
  min-height: 60px;
  margin-top: 23px;
  margin-bottom: 27px;
  float: right;
  box-sizing: border-box;
  
  background-color: yellow;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
  min-height: 37px;
  padding: 0 27px;
  box-sizing: border-box;
  
  background-color: yellow;
}

.basket-content {
  float: right;
  
  background-color: blue;
}

.logo {
  float: left;
}

.sort-value {
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 40px;
  box-sizing: border-box;
  
  background-color: lightyellow;
}

.page-switcher {
  margin-top: 80px;
  margin-right: 27px;
  margin-bottom: 30px;
  float: right;
  box-sizing: border-box;
}

/* ховеры */

.catalog-nav {
  display: none;
}

.search-input {
  display: none;
}

.user-reg {
  display: none;
}

/* На будущее

.search:hover .search-input {
  display: block;
}

.catalog-nav:hover {
  display: block;
}

.user-reg:hover {
  display: block;
}
  
*/

.sub-nav {
  display: none;
}

.basket-content {
  display: none;
}

.made-in-logo {
  text-decoration: none;
}