/* Шрифты */

body {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: normal;
}

h1.catalog-title {
  font-size: 60px;
  line-height: 60px; /* проверить значение*/
  /*color: #ffffff внести информацию позже, на белом фоне нечитаемо*/
  font-weight: bold;
}

/* Внес стили второго шрифта для заголовка второго увроня, но в документе он не используется */
h2 {
  font-size: 35px; 
  line-height: 41px;
  font-weight: bold;
  /*color: #ffffff внести информацию позже, на белом фоне нечитаемо*/
}