/* Шрифты */

body {
  font-size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: normal;
}

h1.catalog-title {
  font-size: 35px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Внес стили второго шрифта для заголовка второго увроня, но в документе он не используется */
h2 {
  font-size: 35px; 
  line-height: 41px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}


/* Сетки */

body{
  margin: 0;
  padding: 0;
  background-color: rgb(132, 157, 143);
}

body.main-page-body {
  background: rgb(132, 157, 143) url("../img/background/background1-main.png") no-repeat 50% 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  box-sizing: border-box;
}

.main-nav ul {
  margin: 0; 
  padding: 0;
}

.main-nav {
  display: flex;
}

.site-nav {
  list-style: none;
}

.site-nav li {
  display: inline-block;
  margin: 30px 24px 26px 0;
}

.site-nav a {
  /*Разобраться, почему не работает инхерит*/
  font-size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Medium", "Verdana", sans-serif;
  font-weight: bold;
}

.logo {
  margin-top: 9px;
  margin-right: 24px;
}

.header-buttons {
  display: flex;
  margin: 23px 0 18px;
  justify-content: space-between;
  min-width: 262px;
  min-height: 32px;
}

.promo {
  min-height: 573px;
  position: relative;
  margin: 0 27px;
}

.work-time {
  position: absolute;
  top: -2px;
  right: 0px;
  min-height: 45px;
  float: right;
  width: 180px;
}

.work-time p {
  margin: 0;
  padding: 0;
  text-align: right;
}

.time {
  font-size: 14px; 
  line-height: 16px;
  font-weight: bold;
  
}

.tel-number {
  font-size: 22px; 
  line-height: 24px;
  font-weight: bold;
}

.promo-text {
  display: flex;
  flex-direction: column;
  min-height: 220px;
  position: absolute;
  bottom: 40px;
  left: 239px;
  right: 239px;
  box-sizing: border-box;
}

.promo-text p {
  margin: 0;
  padding: 0;
}

.promo-background-text {
  font-size: 60px; 
  line-height: 60.35px;
  text-align: center;
}

.promo-btn {
  margin: auto;
  
}

.special-offers {
  min-height: 230px;
  margin: 0 27px;  
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.special-offer {
  width: 560px;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  padding: 18px;
  box-sizing: border-box;
}

.raspberry {
  background: rgb(60, 7, 22) url("../img/background/raspberry.png") no-repeat 0 0;
}

.chocolate {
  background: rgb(60, 7, 22) url("../img/background/chocolate.png") no-repeat 0 0;
}

.special-offer-head {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-bottom: 17px;
}

.special-offer p {
  margin: 0;
  padding: 0;
}

.special-offer-button {
  position: absolute;
  right: 21px;
  bottom: 23px;
}

.production-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
  flex-wrap: wrap;
}

.icecream-card {
  width: 267px;
  min-height: 325px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 40px;
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  position: absolute;
  top: 207px;
  left: 0px;
}

.hit {
  position: absolute; 
  left: 0px;
  top: 0px;
}

.icecream-card p {
  font-size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Medium", "Verdana", sans-serif;
  text-align: center;
  text-decoration: underline;
}

.features {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-family: "Roboto", "Verdana", sans-serif;
  padding: 27px 19px;
  margin: 0 27px 40px;
  box-sizing: border-box;
  background: rgb(238, 224, 193) url("../img/pattern-wafer.png") 0 0;
  border-radius: 8px;
}

.features-intro {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto Medium", "Verdana", sans-serif;
  flex-grow: 1;
  margin-bottom: 10px;
}

.features-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-text {
  width: 541px;
  margin-bottom: 11px;
  padding-left: 57px;
  box-sizing: border-box;
}

.info {
  min-height: 220px;
  margin: 0 27px 40px;
  display: flex;
  justify-content: space-between;
}

.info-data {
  width: 560px;
  box-sizing: border-box;
  font-weight: normal;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  box-sizing: border-box;
}

.info-blog-link{
  /*Снова не работает инхерит, почему?*/
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto", "Verdana", sans-serif;
  color: rgb(0, 0, 0);
  display: block;
  width: 287px;
}

.blog {
  background: rgb(255, 255, 255) url("../img/background/recipes.png") no-repeat 0 0;
  padding: 19px 26px 35px;
}

.info-head{
  margin-bottom: 9px;
  font-family: "Roboto Medium", "Verdana", sans-serif;
}

.info p {
  margin: 0;
  padding: 0;
}

.subscription {
  background: rgb(248, 247, 242) url("../img/pattern-post.png") repeat 0 0;
}

.substrate p, 
.substrate form {
  margin: 0px;
  padding: 0px;
}

.substrate {
  width: 507px;
  min-height: 141px;
  margin: 5px;
  background-color: rgb(248, 247, 242);
  border-radius: 8px;
  padding: 32px 22px 37px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscription-text {
  margin: 32px;
  color: rgb(90, 90, 90);
}

.subscription-input{
  padding: 13px 23px;
  border-radius: 8px;
}

.map {
  min-height: 430px;
  width: 1200px;
  position: relative;
}

.elevation {
  position: absolute;
  top: 139px;
  left: 266px;
  z-index: 10;
  background-image: url("../img/icon/icon-formap.png");
  background-repeat: no-repeat;
}

.map-contacts {
  width: 302px;
  position: absolute;
  top: 63px;
  bottom: 63px;
  right: 27px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 31px 27px 32px 25px;
  box-sizing: border-box;
  
}

.feedback  {
  position: absolute;
  bottom: 32px;
  left: 25px;
}

.map-contacts p {
  margin: 0;
  padding: 0;
  display: block;
  width: 226px;
}

.map-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.map-adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 22px;
}

.map-tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 3px 0 6px;
}

.map-worktime{
  font-size: 14px;
  line-height: 22px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  box-sizing: border-box;
}

.helpful-info {
  list-style: none;
  width: 328px;
  min-height: 38px;
  margin: 30px 24px 26px 0;
  display: flex;
  flex-wrap: wrap;
}

.helpful-info li {
  margin-left: 23px;
  min-width: 119px;
}

.helpful-info a {
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.social-network {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.social-network li {
  display: inline-block;
  margin: 30px 24px 26px 0;
}

.made-in {
  font-size: 12px;
  line-height: 18px;
  margin-top: 19px;
}

.made-in a {
  font: inherit;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*Каталог*/

.page-header {
  position: relative;
  padding: 26px 0 27px;
  margin: 0 27px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 20px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.catalog-title {
  margin: 0px;
  padding: 0px;
  margin-top  : 7px;
}

.page-header ul {
  margin: 0;
  padding: 0;
}

.sort-value  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  background-color: teal;
}

.sort-value {
  width: 860px;
  min-height: 133px;
  margin-left: 27px;
  margin-bottom: 41px;
}

.sort-value  li{
  display: inline-block;
}

.page-switcher {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
  padding-bottom: 31px;
}

.page-switcher li {
  margin-right: 20px;
}

.page-switcher li:last-child {
  margin-right: 0px;
}

/* Кнопки */

.btn {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 13px 23px;
  background-color: rgb(239, 100, 65);
  border-radius: 50px;
}

.header-btn {
  padding: 7px 16px 7px 44px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  border-radius: 50px;
  min-height: 32px;
  box-sizing: border-box;
}

.header-buttons  a {
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: normal;
}

.header-btn a {
  text-decoration: none;
}


/* Ховеры */

.catalog {
  position: relative;
} 

.catalog-nav {
  display: none;
  position: absolute;
  width: 143px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  min-height: 171px; 
  border-radius: 8px;
  box-sizing: border-box;
  top: 27px;
  left: -7px;
}

.catalog:hover .catalog-nav {
  display: flex;
  flex-direction: column;
}

.catalog-nav a {
  font-size: 13px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: regular;
  text-decoration: none;
}

.catalog-nav li {
  min-width: 103px;
  margin: 0;
  padding: 0;
}

.search-input {
  display: none;
  position: absolute;
  width: 341px;
  padding: 20px 15px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  min-height: 84px; 
  border-radius: 8px;
  box-sizing: border-box;
  top: 44px;
  right: 0;
}

.search-input input[type="text"] {
  width: 278px;
  padding: 14px;
  border-radius: 5px;
}

.search:hover .search-input {
  display: block;
}

.user-reg {
  display: none;
  position: absolute;
  width: 341px;
  min-height: 214px;
  padding: 20px 15px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  min-height: 84px; 
  border-radius: 8px;
  box-sizing: border-box;
  top: 44px;
  right: 0;
}

.user-reg a {
  font-size: 13px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: regular;
  text-decoration: underline;
}

.reg-btn {
  margin-right: 20px;
  position: absolute; 
}

.reg-links{
  display: inline-block;
  margin-left: 120px;
  padding: 4px 0 5px;
  width: 120px;
  min-height: 44px;
  box-sizing: border-box;
}

.user-block:hover .user-reg {
  display: block;
}

.user-reg input[type="email"],
.user-reg input[type="password"] {
  width: 278px;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.hidden-button {
  position: absolute;
  bottom: -44px;
  left: 27px;
  display: none;
}

.feedback-form {
  width: 478px;
  min-height: 443px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -221px;
  margin-top: -239px;
  padding: 0 25px 28px;
  background-color: rgb(248, 247, 244);
  border-radius: 8px;
  box-sizing: border-box;
  /* Сначала разобраться с позиционированием
  display: none;
  */
  
  color: rgb(0, 0, 0);
}

.feedback-form  input[type="email"],
.feedback-form  input[type="text"] {
  width: 267px;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.feedback-form  input[name="recourse"] {
  width: 400px;
  min-height: 155px;
  vertical-align: top;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.feedback-form-btn {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Каталог*/

.sub-nav {
  display: none;
}

.basket-content {
  display: none;
}

.made-in-logo {
  text-decoration: none;
}

/*Иконки*/

/*Хедер*/

.basket {
  position: relative;
}
.sprite-icon-basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url("../img/sprite/spritesheet-header.png") no-repeat -5px -5px;
}

.sprite-icon-basket-nonempty::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url("../img/sprite/spritesheet-header.png") no-repeat -5px -35px;
}

.user-block {
  position: relative;
  box-sizing: border-box;
}

.sprite-icon-login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url("../img/sprite/spritesheet-header.png") no-repeat -36px -5px;
}

.search {
  position: relative;
  width: 35px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search a {
  font-size: 0;
}

.sprite-icon-search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 21px;
  height: 20px;
  background: url("../img/sprite/spritesheet-header.png") no-repeat -67px -5px;
} 

/* features */

.features-text {
  position: relative;
}

.icon-cow::before {
  width: 48px;
  height: 49px;
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  background: url("../img/sprite/spritesheet-features.png") no-repeat -5px -5px;
}

.icon-icecream::before {
  width: 49px;
  height: 49px;
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  background: url("../img/sprite/spritesheet-features.png") no-repeat -63px -5px;
}

.icon-leaf::before {
  width: 49px;
  height: 49px;
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  background: url("../img/sprite/spritesheet-features.png") no-repeat -5px -64px;
}

.icon-thermometer::before {
  width: 48px;
  height: 49px;
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  background: url("../img/sprite/spritesheet-features.png") no-repeat -64px -64px;
}

/* Футер */

.social-network  li{
  font-size: 0;
  position: relative;
  margin-right: 10px;
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  margin-right: 10px;
  background: url("../img/sprite/spritesheet-footer.png") no-repeat center;
  opacity: 0.8;
  outline: rgba(255, 255, 255, 0.5) solid 2px;
  border-radius: 50px;
}

.facebook {
  background-position: -5px -5px;
}

.instagram {
  background-position: -47px -5px;
}

.twitter{
  background-position: -5px -47px;
}

.vk {
  background-position: -47px -47px;
}
